@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.attribution {
  top: 0;
  left: 0;
  font-size: 11px;
  position: absolute;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(204, 43%, 93%);
}
.container {
  overflow: hidden;
  border-radius: 5px;
  width: 50%;
  height: 70vh;
  box-shadow: 2px 4px 20px 2px hsl(218, 22%, 67%);
}
/*************************************************** TOP PART *****************************************************/
.top {
  width: 100%;
  height: 50%;
  padding-top: 5%;
  padding-left: 5%;
  margin-bottom: -5%;
  background-color: white;
}
.top h1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.5rem;
  margin-bottom: 3%;
}
.top h2 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 2%;
}
.top p {
  width: 80%;
  line-height: 25px;
  color: hsl(218, 22%, 67%);
}
/*************************************************** BOTTOM PART *****************************************************/
.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}
/*************************************************** LEFT PART *****************************************************/
.left {
  background-color: hsl(179, 62%, 43%);
  width: 50%;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
}
.left h1 {
  font-size: 1.2rem;
  margin-bottom: 3%;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1%;
}
.price h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.price p {
  color: hsl(204, 43%, 93%);
  margin-left: 4%;
}
.left h2 {
  font-weight: 400;
  margin-bottom: 5%;
}
button {
  width: 75%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 20px 2px hsl(179, 62%, 33%);
}
/*************************************************** RIGHT PART *****************************************************/
.right {
  background-color: hsl(179, 62%, 63%);
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
  color: white;
}
.right h1 {
  font-size: 1.2rem;
  margin-bottom: 3%;
}
ul {
  color: hsl(204, 43%, 93%);
  list-style-type: none;
}

/******************************************* MOBILE ***********************************/
@media (max-width: 650px) {
  * {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  * {
    font-size: 12px;
  }
  .container {
    width: 80%;
    height: 90vh;
  }
  .top {
    height: 33%;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    height: 69%;
  }

  .left > * {
    margin-left: 5%;
  }
  .top > * {
    line-height: 15px;
    margin-left: 5%;
  }
  .right > * {
    margin-left: 5%;
  }
}
